{% include "chrome-head.html" %}
{% include "chrome-body.html" %}

<main id="mainContent">
{{ content | safe }}
{% include "chrome-overlays.html" %}
</main>

{% include "chrome-foot.html" %}

<script src="/js/main.js" defer></script>
</body>
</html>
