---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set urls = ["/", "/about/", "/shuls/", "/emergency/", "/faq/", "/buses/", "/residents/", "/accessibility/", "/admin/"] %}
{%- for u in urls %}
  <url>
    <loc>https://maale-amos.github.io{{ u }}</loc>
    <changefreq>weekly</changefreq>
    <priority>{{ '1.0' if u == '/' else '0.7' }}</priority>
  </url>
{%- endfor %}
</urlset>
